@page "/Vs_Test"
@using HamsterWarz.Shared
@inject IJSRuntime js;
@inject NavigationManager NavManager
@inject IHamsterService HamsterService

<link rel="stylesheet" type="text/css" href="css/app.css?version=0.1">
@if (Klar)
{
    GåTill();
}
else
{

    <Animate Animation="Animations.FlipUp" Duration="TimeSpan.FromSeconds(0.5)" @ref="myAnim" IsManual=false>
        <div hidden="@Hide1">

            <h1 class="text-center">Choose Your Hamster!</h1>
            <div class="container ">
                <div class="row">
                    <div class="col-sm-4 card">
                        <figure>
                            <img src="@ShowImage(HamsterService.hamster.ImgName)" onclick="@(()=>{Dold1(ShowImage(HamsterService.hamster.ImgName)); PlayAudioFile1(); WarCry = true;})" class="img-fluid img-thumbnail" alt="Responsive image" />
                            <div class="card-body">
                                <h4 class="card-title">@HamsterService.hamster.Name</h4> @*TODO: Lägg till index*@
                                <p class="card-text">Age: @HamsterService.hamster.Age</p>@*TODO: Lägg till index*@
                                <p class="card-text">Age: @HamsterService.hamster.Loves</p>@*TODO: Lägg till index*@
                                <p class="card-text">Age: @HamsterService.hamster.FavFood</p>@*TODO: Lägg till index*@
                            </div>
                        </figure>
                    </div>

                    <div id="Vs" class="col-sm-4">
                        <img src="Other_Pic/vs.png" class="img-fluid" alt="Responsive image" />
                    </div>

                    <div class="col-sm-4 card">
                        <figure>
                            <img src="@ShowImage(HamsterService.Hamsters[1].ImgName)" onclick="@(()=>{Dold1(@ShowImage(HamsterService.Hamsters[1].ImgName)); PlayAudioFile1(); update(HamsterService.Hamsters[0], false);update(HamsterService.Hamsters[1], true);})" class="img-fluid img-thumbnail" alt="Responsive image" />
                            <div class="card-body">
                                <h4 class="card-title">@HamsterService.hamster.Name</h4> @*TODO: Lägg till index*@
                                <p class="card-text">Age: @HamsterService.hamster.Age</p>@*TODO: Lägg till index*@
                                <p class="card-text">Age: @HamsterService.hamster.Loves</p>@*TODO: Lägg till index*@
                                <p class="card-text">Age: @HamsterService.hamster.FavFood</p>@*TODO: Lägg till index*@
                            </div>
                            <img src="@ShowImage(HamsterService.Hamsters[1].ImgName)" onclick="@(()=>{Dold1(@ShowImage(HamsterService.Hamsters[1].ImgName)); PlayAudioFile1(); update(HamsterService.Hamsters[0], false);update(HamsterService.Hamsters[1], true);})" class="img-fluid img-thumbnail" alt="Responsive image" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </Animate>


    <div hidden="@(!Hide2)">
        <div>
            <div class="Move inline-block">
                <img src="@ShowImage(HamsterService.hamster.ImgName)" width=200px height=200px />
            </div>

            <div class="Move2 inline-block">
                <img src="@ShowImage(HamsterService.Hamsters[1].ImgName)" width=200px height=200px />
            </div>
        </div>

        <div id="manipulate">
            <button class="inline-block btn btn-primary" onclick="@(()=>{Dold2(); PlayAudioFile2();})">
                Fight!!!
            </button>
        </div>
    </div>


    <div hidden="@(!Hide3)" class="text-center">

        <h2>You Win!!!!</h2> <br />
        <div class="WinCard">
            <div class="card" style="width:100px">
                <img src="@Temp" onclick="@(()=>{Dold3(); /*PlayAudioFile2()*/;})" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">@HamsterService.hamster.Name</h4> @*TODO: Lägg till index*@
                    <p class="card-text">@HamsterService.hamster.Wins</p> @*TODO: Lägg till index*@
                    <p class="card-text">@HamsterService.hamster.Losses</p> @*TODO: Lägg till index*@
                </div>
            </div>
        </div>
    </div>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        await HamsterService.GetRandomHamster();

    }
    private string? imageSource;
    private string ShowImage(string imgName)
    {
        imageSource = $"/hamsters/{imgName}";
        return imageSource;
    }


    private string Temp;
    private bool Hide1 { get; set; } = false;
    private bool Hide2 { get; set; } = false;
    private bool Hide3 { get; set; } = false;
    private bool WarCry { get; set; } = false;
    private bool Won { get; set; } = false;
    private bool Klar = false;
    private Animate myAnim;
    private Random random = new Random();


    async Task PlayAudioFile1()
    {
        await js.InvokeVoidAsync("PlayAudioFile", $"/sounds/War.mp3");
    }

    async Task PlayAudioFile2()
    {
        await js.InvokeVoidAsync("PlayAudioFile", $"/sounds/{random.Next(1, 6)}.mp3");
    }

    private void Animation()
    {
        myAnim.Run();
    }


    private void GåTill()
    {
        NavManager.NavigateTo("/");
    }

    private void Dold1(string tempImg)
    {
        Temp = tempImg;

        Hide1 = !Hide1;
        Hide2 = !Hide2;
    }

    private void Dold2()
    {
        Hide2 = !Hide2;
        Hide3 = !Hide3;
        HamsterService.CreateGame();
    }

    private void Dold3()
    {
        Hide1 = !Hide1;
        Hide3 = !Hide3;
        WarCry = false;
    }


}
