@page "/Vs_Test"


<link rel="stylesheet" type="text/css" href="css/app.css?version=0.1">

@if (MyList1 == null)
{
    MyListOfStuff();
    RandomList();
}
@if (Klar)
{
    GåTill();
}
else
{

    <Animate Animation="Animations.FlipUp" Duration="TimeSpan.FromSeconds(0.5)" @ref="myAnim" IsManual=false>
        <div hidden="@Hide1">

            <h1 class="text-center">Choose Your Hamster!</h1>
            <div class="container ">
                <div class="row">
                    <div class="col-sm-4">
                        <figure>
                            <img src="@Img1" onclick="@(()=>{Dold1(Img1); PlayAudioFile1(); WarCry = true;})" class="img-fluid img-thumbnail" alt="Responsive image" />
                        </figure>
                    </div>
                    <div id="Vs" class="col-sm-4">
                        <img src="Other_Pic/vs.png" class="img-fluid" alt="Responsive image" />
                    </div>
                    <div class="col-sm-4">
                        <figure>
                            <img src="@Img2" onclick="@(()=>{Dold1(Img2); PlayAudioFile1();})" class="img-fluid img-thumbnail" alt="Responsive image" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </Animate>


    <div hidden="@(!Hide2)">
        <div>
            <div class="Move inline-block">
                <img src="@Img1" width=200px height=200px />
            </div>

            <div class="Move2 inline-block">
                <img src="@Img2" width=200px height=200px />
            </div>
        </div>

        <div id="manipulate">
            <button class="inline-block btn btn-primary" onclick="@(()=>{Dold2(); PlayAudioFile2();})">
                Fight!!!
            </button>
        </div>
    </div>


    <div hidden="@(!Hide3)" class="text-center">

        <h2>You Win!!!!</h2> <br />
        <div class="WinCard">
            <div class="card" style="width:100">
                <img src="@Temp" onclick="@(()=>{Dold3(); /*PlayAudioFile2()*/;})" class="card-img-top" />
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text">Some example text.</p>
                </div>
            </div>
        </div>

    </div>

}


@code {
    protected override async Task OnInitializedAsync()
    {
        await HamsterService.GetHamsters();
    }
    private string? imageSource;
        private string ShowImage(string imgName)
    {
        imageSource = $"/hamsters/{imgName}";
        return imageSource;
    }


    private string Img1;//Ta bort
    private string Img2;//Ta bort
    private string Temp;
    private bool Hide1 { get; set; } = false;
    private bool Hide2 { get; set; } = false;
    private bool Hide3 { get; set; } = false;
    private bool WarCry { get; set; } = false;
    private bool Klar = false;
    private Animate myAnim;
    private Random random = new Random();


    async Task PlayAudioFile1()
    {
        await js.InvokeVoidAsync("PlayAudioFile", $"/sounds/War.mp3");
    }

    async Task PlayAudioFile2()
    {
        await js.InvokeVoidAsync("PlayAudioFile", $"/sounds/{random.Next(1, 6)}.mp3");
    }

    private void Animation()
    {
        myAnim.Run();
    }

    private List<string> MyList1 { get; set; }//Ta bort

    private void MyListOfStuff()//Ta bort
    {
        var hamsterlist1 = new List<string>();
        string bild;
        bool loop = true;

        while (loop)
        {
            bild = $"hamsters/hamster-{random.Next(1, 11)}.jpg";
            if (!hamsterlist1.Contains(bild) && hamsterlist1.Count <= 10)
            {
                hamsterlist1.Add(bild);

                if (hamsterlist1.Count == 10)
                {
                    MyList1 = hamsterlist1;
                    loop = false;
                }
            }
        }
    }

    private void RandomList()//Ta bort
    {
        var random = new Random();
        bool loop = true;

        int indexImg1;
        int indexImg2;

        while (loop)
        {
            indexImg1 = random.Next(MyList1.Count);
            indexImg2 = random.Next(MyList1.Count);

            if (indexImg1 != indexImg2)
            {
                Img1 = MyList1[indexImg1];
                Img2 = MyList1[indexImg2];

                if (MyList1.Count == 2)
                {

                    Klar = true;
                }
                loop = false;
            }
        }
        MyList1.Remove(Img1);
        MyList1.Remove(Img2);
    }

    private void GåTill()
    {
        NavManager.NavigateTo("/");
    }

    private void Dold1(string tempImg)
    {
        Temp = tempImg;

        Hide1 = !Hide1;
        Hide2 = !Hide2;
    }

    private void Dold2()
    {
        Hide2 = !Hide2;
        Hide3 = !Hide3;
    }

    private void Dold3()
    {
        Hide1 = !Hide1;
        Hide3 = !Hide3;
        WarCry = false;
        RandomList(); //Ta bort
    }

    
}
